@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-slate-100 text-slate-900 font-sans;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  isolation: isolate;
}

::selection {
  @apply bg-brand-200 text-brand-800;
}
